body{
    background: url(../img/bg.jpg);
    min-height: 100vh;
}
.container-box{
    background-color: white;
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: black;
    box-shadow: 4px 4px 20px 0 ;
    margin-top: 50px;
}
.title{
    text-align: center;
    color: white;
}
.input{
    width: 90%;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #333;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 5px;
    display: block;
}
.answer{
    text-align: center;
    font-size: 20px;
}
.btn-1{
    width:  130px;
    height: 40px;
    margin: 10px auto;
    display: block;
    font-size: 20px;
    background-color: gold;
    color:black;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: flexbox;
}
.main-div{
    display: flex;
    margin-top: 20px;
}
.logo1{
    border-radius: 50px;
}
.main-title{
    text-align: center;
    margin-left: 150px;
}
@media screen and (max-width : 600px){
    .container-box{
       
    }  

}