body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    width: 360px;
    background: black;
    box-shadow: 0 0 8px rgba(250, 250, 250,0.6);
    opacity: 0.6;
}
.container form{
    width: 100px;
    text-align: center;
    padding: 25px 20px;
}
form .h1{
    padding: 10px 0;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: ;
}
form input{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    background:black ;
    font-size: 20px 20px;
    color: white;
    padding: 0 15px;
    font-size: 13px;
}