body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./../img/reg_img.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;  
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width:80%;
    padding: 10px;
    border: none;
    background-color: gold;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10%;
  }
  
  button:hover {
    background-color:gold;
  }