/*nav-color*/
/*.nav-color{
    background-color: rgb(199, 176, 44);
}*/
<<<<<<< HEAD



=======
.logo{
    border-radius: 50%;
}
>>>>>>> 906bdbeda96e0060b8ca01ce14fbd9701adc8605
/*footer css*/
footer {
    background-color: #212529 ;
    padding: 2rem 0;
    color: #fff;
}

.footer-container {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    flex-wrap: wrap;

}
.footer-column {
    flex: 1;
    padding: 0 1rem;
    padding-bottom: 10px;
}
.footer-column h3 {
    color: gold;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1rem;
}
.footer-column p,
.footer-column ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.footer-column a {
    line-height: 2;
    color: #fff;
    text-decoration: none;
    transition: all .35s ease;
}
.footer-column a:hover {
    padding-left: 10px;
    color: gold;
    text-decoration: none;
}
.footer-copyright {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #6c757d;
}